<h5>選擇標籤類型</h5>
<form action="/food" method="get">
  <div class="mb-3">
    <label for="dietType" class="form-label">飲食類型</label>
    <div id="dietType" class="form-check">
      {% for tag in tags %}
        <input type="checkbox" class="form-check-input" id="{{ tag.name }}" name="food_style" value="{{ tag.id }}" />
        <label class="form-check-label" for="{{ tag.name }}">{{ tag.name }}</label><br />
      {% endfor %}
    </div>
  </div>
  <div class="mb-3">
    <label for="paymentType" class="form-label">支付方式</label>
    <div id="paymentType" class="form-check">
      {% for device in devices %}
        <input type="checkbox" class="form-check-input" id="{{ device.name }}" name="payment_type" value="{{ device.id }}" />
        <label class="form-check-label" for="{{ device.name }}">{{ device.name }}</label><br />
      {% endfor %}
    </div>
  </div>
  <button class="btn btn-outline-success" type="submit">搜尋</button>
</form>
