<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>美食地圖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4">餐廳列表</h1>

        <!-- 搜尋列 -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋餐廳">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                           搜尋 <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 餐廳列表 -->
        <div class="row">
            {% for i in place_nums %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="https://picsum.photos/id/684/280/200" class="card-img-top" alt="餐廳{{ i }}">
                        <div class="card-body">
                            <h5 class="card-title">餐廳{{ i }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- 引入 JS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>

</html>