{% extends 'food/base.html' %}

{% block title %}
  東京素食餐廳列表
{% endblock %}

{% block heading %}
  東京素食餐廳列表
{% endblock %}

{% block sidebar %}
  {% include 'food/form_filter.html' %}
{% endblock %}

{% block content %}
  <div class="row">
    {% for item in store_list %}
      <div class="col-md-4 grid-item p-2 text-center">
        <a href="/food/{{ item.place.id }}">
          <div class="grid-item-img">
            <img style="max-width:100%" src="{{ item.photo.url }}" alt="{{ item.place.name }}" />
          </div>
          <label for="">{{ item.place.name }}</label>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
